<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            Home / {{page}}
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Mapping RR</h1>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-md-4">
            <p>Cari Kumpulan RR dari Tahun atau nama RTU</p>
            <input type="text" class="form-control" placeholder="Tahun RR atau nama RTU">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <my-table></my-table>
        </div>
    </div>
</div>
